.help_banner {
  background: linear-gradient(
    89.82deg,
    #f8f9ff 0.12%,
    #f8f9ff 51.53%,
    #f8f9ff 99.82%
  );
  border-radius: 10px;
  position: relative;
}

.man_talk_gif {
}

.help_content {
}
