.help_banner {
  background: linear-gradient(
    89.82deg,
    #e8ebff 0.12%,
    #e8ebff 51.53%,
    #e8ebff 99.82%
  );
  border-radius: 10px;
  position: relative;
}

.man_talk_gif {
}

.help_content {
}
