.vision_header_text {
  line-height: 130.69%;
  text-align: center;
  color: #333333;
}

.vision_description_box {
  background: linear-gradient(
    180.04deg,
    #f8f9ff 27.72%,
    #f8f9ff 144.73%
  ) !important;
}
